<!--

<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">

    <form class="border border-light p-5"  [formGroup]="productMasterForm">

      <p class="h4 mb-4">Add Product Master</p>
      <div class="product-form">
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>User Name</mat-label>
        <input placeholder="Enter product name" id="username" class="form-control" type="text"
               formControlName="username">
      </mat-form-field>
      </div>



      <div class="product-form">
        <mat-form-field appearance="fill">
        <mat-label>Phone No:</mat-label>
        <input placeholder="Enter phone no"
          type="text"  class="form-control" name="phoneNo"  id="phoneNo"  formControlName="phoneNo">
        </mat-form-field>
      </div>

      <div class="product-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your mail" formControlName="email" required class="form-control">
          <mat-error *ngIf="this.productMasterForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="product-form">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"class="form-control" name="password" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="product-form">
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"class="form-control" name="cpassword" formControlName="cpassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>



      <div class="product-form">
        <button class="btn btn-info  my-4" type="submit" (click)="onSubmit()">Add ProductMaster</button>
      </div>


    </form>
    <div class="alert alert-info" *ngIf="success">Product Master Added Successfully...</div>
  </mat-card>
</div>
-->

<script src="add-product-master.component.ts"></script>
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="40" >
<main class="form-main">
  <h3 style="margin-top:10%"><strong>Add Product Master</strong></h3>
  <form class="form-form "
        [formGroup]="form">
    <mat-form-field>
      <input matInput
             #email
             spellcheck="false"
             placeholder="Email"
             formControlName="email">
      <mat-hint>
        Email will never be shared or sold.
      </mat-hint>
      <mat-error>
        {{ formErrors['email'] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             spellcheck="false"
             placeholder="User name"
             formControlName="userName">
      <mat-hint>
        User name allowed characters are letters and numbers only. No spaces.
      </mat-hint>
      <mat-error>
        {{ formErrors['userName'] }}
      </mat-error>
    </mat-form-field>

    <div formGroupName="passwordsGroup"
         class="form-form">

      <mat-form-field>
        <input [type]="hidePassword ? 'password' : 'text'"
               matInput
               spellcheck="false"
               placeholder="Password"
               formControlName="password">
        <button mat-icon-button
                tabindex="-1"
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>
          Password minimum length 6, requires one letter, one number, one special character !@#$%^&* no spaces.
        </mat-hint>
        <mat-error>
          {{ formErrors['password'] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [type]="hidePassword ? 'password' : 'text'"
               matInput
               spellcheck="false"
               placeholder="Confirm Password"
               [errorStateMatcher]="errorMatcher"
               formControlName="confirmPassword">
        <button mat-icon-button
                tabindex="-1"
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>
          Confirm Password minimum length 6, requires one letter, one number, one special character !@#$%^&* no spaces.
        </mat-hint>
        <mat-error>
          {{ formErrors['confirmPassword'] ? formErrors['confirmPassword'] : formErrors['passwordsGroup'] }}
        </mat-error>
      </mat-form-field>

      <div class="form-button-row">
        <button mat-raised-button
                [disabled]="!form.valid"
                (click)="registerClicked(this.form.value)"
                color="primary">Register</button>

        <button mat-raised-button
                [routerLink]="['']"
                color="primary">Back</button>
      </div>
    </div>
  </form>
</main>
  </mat-card>
</div>
